USE [Production_Data]
GO
/****** Object:  View [dbo].[vw_Ponqpast_Metrics]    Script Date: 18/01/2026 14:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Ponqpast_Metrics] AS
SELECT 
    UDI,
    [Product ID],
    [Type],
    [Air temperature  K ],
    [Process temperature  K ],
    [Rotational speed  rpm ],
    [Torque  Nm ],
    [Tool wear  min ],
    [Machine failure],
    -- 1. Columna de Priorización para evitar Dobles Tops Simultáneos
    CASE 
        WHEN TWF = 1 THEN 'Falla por Desgaste (TWF)'
        WHEN HDF = 1 THEN 'Falla por Calor (HDF)'
        WHEN PWF = 1 THEN 'Falla de Energía (PWF)'
        WHEN OSF = 1 THEN 'Falla por Tensión (OSF)'
        WHEN RNF = 1 THEN 'Falla Aleatoria (RNF)'
        WHEN [Machine failure] = 1 THEN 'Otras Fallas'
        ELSE 'Operación Normal'
    END AS Primary_Failure_Cause,
    -- 2. KPIs de Alerta para el Dashboard (Corregidos con espacios)
    CASE 
        WHEN [Process temperature  K ] > 310 THEN 1 
        ELSE 0 
    END AS Temp_Alert,
    CASE 
        WHEN [Tool wear  min ] > 200 THEN 'Critical' 
        ELSE 'Normal' 
    END AS Tool_Status
FROM Production_Data;
GO
